<h1>New Article</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<hr>

<div>
  <div data-controller="custom-text-area">
    <p data-custom-text-area-target="line" tabindex="" class="blink_me">|</p>
  </div>
</div>
